body{
font-family:Arial;
background:linear-gradient(to right,#0ff770,#0bd5dc);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:white;
padding:25px;
width:350px;
border-radius:15px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
text-align:center;
}

h2{
color:#333;
margin-bottom:15px;
}

.input-box{
display:flex;
gap:8px;
}

input{
flex:1;
padding:8px;
border-radius:5px;
border:1px solid #ccc;
}

button{
padding:8px 12px;
background:#e12097;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#3b5fc0;
}

ul{
list-style:none;
margin-top:15px;
padding:0;
}

li{
padding:8px;
background:#f2f2f2;
margin-bottom:8px;
border-radius:5px;
cursor:pointer;
}

.done{
text-decoration:line-through;
color:gray;
}

.filters{
margin-top:10px;
display:flex;
justify-content:space-between;
}

.filters button{
background:#285dda;
}

.filters button:hover{
background:#2159f3;
}

.bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

#clearBtn{
background:#ff5c5c;
}

#clearBtn:hover{
background:#d63c3c;
}

#count{
font-size:14px;
color:#555;
}